.container {
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: transparent;
  border: none;
  fill: rgba(255, 255, 255, 0.4);
}
.container.check {
  fill: rgba(215, 14, 14, 0.7);
}
.container:hover {
  fill: rgb(255, 215, 0);
}
